.bg-zinc-50    { background-color: #fafafa; }
.bg-zinc-100   { background-color: #f4f4f5; }
.bg-zinc-200   { background-color: #e4e4e7; }
.bg-zinc-300   { background-color: #d4d4d8; }
.bg-zinc-400   { background-color: #a1a1aa; }
.bg-zinc-500   { background-color: #71717a; }
.bg-zinc-600   { background-color: #52525b; }
.bg-zinc-700   { background-color: #3f3f46; }
.bg-zinc-800   { background-color: #27272a; }
.bg-zinc-900   { background-color: #18181b; }
